*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 0 auto;
}
article{
    max-width: 300px;
    border: 8px solid;
    border-radius: 10%;
    margin: 20px;
    text-align: center;
    padding: 20px;
}
article.stock{
    border-color: lightgreen;
}
article.noStock{
    border-color: salmon;
}